/* Post Edit Delete Container */

.edit_delete_container {
    max-width: 800px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    margin: 1rem auto;
    gap: 1rem;
}

.edit_button {
    font-size: 1rem;
}

.delete_button {
    font-size: 1rem;
}

/* Post Container */

.post_container {
    max-width: 800px;
    background-color: #fff;

    margin: 2rem auto;
    padding: 2rem;
    
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.secret_post {
    font-size: 1rem;
    color: #aaa;
}

.post_title {
    font-size: 2rem;

    margin: 1rem 0;
}

.post_account {
    margin: 1rem 0;
}

.post_account a {
    color: #000;
    font-size: 1.25rem;

    text-decoration: none;
}
.post_account:hover {
    text-decoration: underline;
}

.post_file {
    margin: 1rem 0;
}

.post_file_link {
    text-decoration: none;
    text-align: center;

    display: block;

    font-size: 1rem;
    color: #0044cc;

    padding: 0.5rem 1rem;

    border: 1px solid #0044cc;
    border-radius: 0.25rem;

    cursor: pointer;
}
.post_file_link:hover {
    color: white;
    
    background-color: #0044cc;
}

.post_content {
    font-size: 1.25rem;
    line-height: 1.5;

    margin: 1rem 0;
    padding: 1rem 0;

    white-space: pre-wrap;
}

.post_information {
    font-size: 1rem;
    color: #aaa;

    display: flex;
    flex-direction: column;
    
    gap: 0.5rem;
}

.post_create_date {}

.post_edit_date {}

.post_upvote {}