.post_password_container {
    max-width: 400px;
    background-color: #f8f8f8;

    margin: 4rem auto;
    padding: 2rem;

    border: 1px solid #ccc;
    border-radius: 0.5rem;

    text-align: center;
}

.post_password_title {
    font-size: 2rem;
}

.post_password_descript {
    font-size: 1rem;
    color: #aaa;

    margin: 1.5rem 0;
}

.post_password_form {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.post_password_form_password {
    font-size: 1rem;
    
    padding: 0.5rem;

    border: 1px solid #aaa;
    border-radius: 0.25rem;
}

.post_password_form_button {
    font-size: 1rem;
    color: #fff;

    background-color: #0044cc;

    padding: 0.25rem;

    border: none;
    border-radius: 0.25rem;

    cursor: pointer;
}
.post_password_form_button:hover {
    background-color: #0033aa;
}

.post_password_back {
    font-size: 1rem;

    margin-top: 1rem;
}

.post_password_back a {
    text-decoration: none;

    color: #aaa;
}
.post_password_back a:hover {
    text-decoration: underline;
}