{% extends 'base.html' %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/change_password_2.css') }}">
{% endblock %}

<!-- Main -->
{% block content %}
<div class="change_container">
    <div class="change_title">Change Password</div>

    <form class="change_form">
        <input type="text" class="change_form_new_password" placeholder="( Account ) New Password" required>
        
        <button type="submit" class="change_form_button" data-account-id="{{ account.account_id }}">Change Password</button>
    </form>
</div>
{% endblock %}

<!-- JS -->
{% block js %}
<script src="{{ url_for('static', filename='js/change_password_2.js') }}"></script>
{% endblock %}