{% extends 'base.html' %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/change_password_1.css') }}">
{% endblock %}

<!-- Main -->
{% block content %}
<div class="change_container">
    <div class="change_title">Change Password</div>

    <form class="change_form">
        <input type="text" class="change_form_name" placeholder="( Account ) Name" required>
        <input type="text" class="change_form_display_name" placeholder="( Account ) Display Name" required>
        
        <button type="submit" class="change_form_button">Change Password</button>
    </form>

    <div class="change_option_container">
        <a class="change_option_link" href="/find_id">Find ID</a>
        <a class="change_option_link" href="/sign_in">Sign In</a>
        <a class="change_option_link" href="/sign_up">Sign Up</a>
    </div>
</div>
{% endblock %}

<!-- JS -->
{% block js %}
<script src="{{ url_for('static', filename='js/change_password_1.js') }}"></script>
{% endblock %}