{% extends 'base.html' %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create_post.css') }}">
{% endblock %}

<!-- Main -->
{% block content %}
<div class="post_container">
    <div class="post_title">Create Post</div>
    <div class="post_account_name">Account Name : {{ account.account_name }}</div>

    <form action="" class="post_form" enctype="multipart/form-data">
        <input type="text" class="post_form_title" placeholder="Title" required>
        <textarea name="" class="post_form_content" placeholder="Content" required></textarea>

        <input type="file" class="post_form_file" accept="image/*,application/pdf">

        <input type="password" class="post_form_password" placeholder="Secret Post - Password ( Option )">

        <button type="submit" class="post_form_button">Post</button>
    </form>
</div>
{% endblock %}

<!-- JS -->
{% block js %}
<script src="{{ url_for('static', filename='js/create_post.js') }}"></script>
{% endblock %}