{% extends 'base.html' %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

<!-- Main -->
{% block content %}
<div class="post_list_container">
    <div class="post_list_title">Post List</div>
    <div class="post_list">
        <!-- JS : Post List -->
    </div>
</div>

<div class="page_list_container">
    <button class="previous_page_button" onclick="previousPage()">Previous</button>
    <div class="page_list">
        <!-- JS : Page List -->
    </div>
    <button class="next_page_button" onclick="nextPage()">Next</button>
</div>
{% endblock %}