{% extends 'base.html' %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

<!-- Main -->
{% block content %}
<div class="all_post_container">
    <div class="all_post_title">Post List</div>

    <div class="search_container">
        <input type="text" class="search_input" placeholder="Search : Title / Content">
        <button class="search_button">Search</button>
    </div>
    <div class="search_option_container">
        <input type="radio" name="search_option" id="search_title" value="search_title" hidden>
        <label for="search_title" class="search_option">Search By : Title</label>

        <input type="radio" name="search_option" id="search_content" value="search_content" hidden>
        <label for="search_content" class="search_option">Search By : Content</label>

        <input type="radio" name="search_option" id="search_all" value="search_all" hidden checked>
        <label for="search_all" class="search_option">Search By : All</label>
    </div>

    <div class="all_post">
        <!-- JS : Post List -->
    </div>
</div>

<div class="all_page_container">
    <button class="previous_page_button" onclick="previousPage()">Previous</button>
    <div class="all_page">
        <!-- JS : Page List -->
    </div>
    <button class="next_page_button" onclick="nextPage()">Next</button>
</div>
{% endblock %}

<!-- JS -->
{% block js %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}