{% extends 'base.html' %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
{% endblock %}

<!-- Main -->
{% block content %}
<div class="edit_delete_container">
    <button class="edit_button" data-post-id="{{ post.post_id }}">Edit</button>
    <button class="delete_button" data-post-id="{{ post.post_id }}">Delete</button>
</div>
<div class="post_container">
    <div class="post_title">{{ post.post_title }}</div>
    
    <div class="post_account">
        <a href="/profile/{{ post.post_account_id }}">Post Account : {{ post.post_account_name }}</a>
    </div>

    <div class="post_content">{{ post.post_content }}</div>
    <div class="post_information">
        <div class="post_create_date">Create Date : {{ post.post_create_date }}</div>
        <div class="post_edit_date">Edit Date : {{ post.post_edit_date }}</div>
        <div class="post_upvote">Up Vote : {{ post.post_upvote }}</div>
    </div>
</div>
{% endblock %}

<!-- JS -->
{% block js %}
<script src="{{ url_for('static', filename='js/post.js') }}"></script>
{% endblock %}