{% extends 'base.html' %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
{% endblock %}

<!-- Main -->
{% block content %}
<div class="post_container">
    <div class="post_title">Title</div>
    <div class="post_content">
Content Content Content Content Content Content Content Content Content Content
Content Content Content Content Content Content Content Content Content Content
Content Content Content Content Content Content Content Content Content Content
Content Content Content Content Content Content Content Content Content Content
Content Content Content Content Content Content Content Content Content Content
Content Content Content Content Content Content Content Content Content Content
Content Content Content Content Content Content Content Content Content Content
Content Content Content Content Content Content Content Content Content Content
Content Content Content Content Content Content Content Content Content Content
Content Content Content Content Content Content Content Content Content Content
Content Content Content Content Content Content Content Content Content Content
    </div>
    <div class="post_information">
        <div class="post_date">Date : ?</div>
        <div class="post_upvote">Up Vote : ?</div>
    </div>
</div>
{% endblock %}