{% extends 'base.html' %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
{% endblock %}

<!-- Main -->
{% block content %}
<div class="post_container">
    <div class="post_title">{{ post.post_title }}</div>
    <div class="post_content">{{ post.post_content }}</div>
    <div class="post_information">
        <div class="post_date">Date : {{ post.post_date }}</div>
        <div class="post_upvote">Up Vote : {{ post.post_upvote }}</div>
    </div>
</div>
{% endblock %}

<!-- JS -->
{% block js %}
{% endblock %}