{% extends 'base.html' %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/post_password.css') }}">
{% endblock %}

<!-- Main -->
{% block content %}
<div class="post_password_container">
    <div class="post_password_title">Secret Post</div>
    <div class="post_password_descript">Enter The Password to Continue. </div>

    <form action="" class="post_password_form">
        <input type="password" class="post_password_form_password" placeholder="Enter Password" required>
        
        <button type="submit" class="post_password_form_button" data-post-id="{{ post.post_id }}">Access</button>
    </form>

    <div class="post_password_back">
        <a href="/">Back to Main</a>
    </div>
</div>
{% endblock %}

<!-- JS -->
{% block js %}
<script src="{{ url_for('static', filename='js/post_password.js') }}"></script>
{% endblock %}