{% extends 'base.html' %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sign_up.css') }}">
{% endblock %}

<!-- Main -->
{% block content %}
<div class="sign_up_container">
    <div class="sign_up_title">Sign Up</div>

    <form action="" class="sign_up_form">
        <input type="text" class="sign_up_form_name" placeholder="Name" required>
        <input type="password" class="sign_up_form_password" placeholder="Password" required>
        <input type="text" class="sign_up_form_display_name" placeholder="Display Name" required>

        <input type="date" class="sign_up_form_birth" placeholder="Birth">
        <input type="text" class="sign_up_form_country" placeholder="Country">

        <button type="submit" class="sign_up_form_button">Sign Up</button>
    </form>

    <div class="sign_option_container">
        <a class="sign_option_link" href="/find_id">Find ID</a>
        <a class="sign_option_link" href="/change_password_1">Change Password</a>
        <a class="sign_option_link" href="/sign_in">Sign In</a>
    </div>
</div>
{% endblock %}

<!-- JS -->
{% block js %}
<script src="{{ url_for('static', filename='js/sign_up.js') }}"></script>
{% endblock %}