{% extends 'base.html' %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sign_in.css') }}">
{% endblock %}

<!-- Main -->
{% block content %}
<div class="sign_in_container">
    <div class="sign_in_title">Sign In</div>

    <form action="" class="sign_in_form">
        <input type="text" class="sign_in_form_id" placeholder="ID" required>
        <input type="password" class="sign_in_form_password" placeholder="Password", required>
        <button type="submit" class="sign_in_form_button">Sign In</button>
    </form>

    <div class="sign_up_container">
        <a class="sign_up_link" href="/sign_up">Sign Up</a>
    </div>
</div>
{% endblock %}

<!-- JS -->
{% block js %}
{% endblock %}